.red-top{
    background-color: red;
    width: 100%;
    height: 20%;
}
.blue-left{
    background-color: blue;
    width: 33.3%;
    height: 145%;
    float: left;
}
.yellow-right{
    background-color: yellow;
    width: 33.3%;
    height: 145%;
    float: right;
}
.purple-center{
    background-color: purple;
    width: 67%;
    height: 145%;
}
.green-bottom{
    background-color: green;
    width: 100%;
    height: 20%;
}
